@page "/"
@rendermode InteractiveServer
@inject ToDoAPIClient APIClient

<PageTitle>ToDoList</PageTitle>

<h1>ToDo List</h1>

@if (todoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>IsCompleted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in todoList)
            {
                <tr>
                    <td>@todo.Title</td>
                    <td>@todo.Description</td>
                    <td>
                        <input type="checkbox" value="@todo.IsCompleted" @onchange="@(e => OnIsCompletedChanged(e, todo))" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    <input class="form-control" placeholder="Title" @bind=@titleNew/>
    <input class="form-control" placeholder="Description" @bind=@descriptionNew/>
</div>
<button class="btn btn-primary" @onclick="AddToDo">Add ToDo</button>


@code{
    List<ToDoData>? todoList;
    string titleNew = string.Empty;
    string descriptionNew = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        todoList = new List<ToDoData>(await APIClient.GetAllToDoListsAsync());
    }

    private async Task AddToDo()
    {
        // if (string.IsNullOrEmpty(titleNew) || string.IsNullOrEmpty(descriptionNew) || todoList == null)
        // {
        //     return;
        // }
        var todoNew = new ToDoData
            {
                Id = todoList.Count + 1,
                Title = titleNew,
                Description = descriptionNew,
                IsCompleted = false,
            };
        todoList?.Add(todoNew);
        titleNew = string.Empty;
        descriptionNew = string.Empty;

        if (await APIClient.AddToDoAsync(todoNew))
        {
            Console.WriteLine("Added successfully");
        }
    }

    private async Task OnIsCompletedChanged(ChangeEventArgs e, ToDoData todo)
    {
        if (e.Value is bool isCompleted)
        {
            todo.IsCompleted = isCompleted;
            if (await APIClient.MarkAsCompleteAsync(todo.Id, todo.IsCompleted))
            {
                Console.WriteLine("Updated successfully  completed : {0}", todo.IsCompleted);
            }
        }
    }
}